@font-face {
  font-family: "norsebold";
  src: url("../fonts/norse-bold-webfont.woff2") format("woff2"),
    url("../fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/*
CSS Reset
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  background-color: #0e0e0e;
  min-height: 100vh;
  color: #000;
}

.container {
  display: grid;
  place-content: center;
  padding: 20px;
}

.image {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.image img {
  height: 100%;
}

.img-credit {
  position: absolute;
  bottom: 20px;
}

.img-credit,
.img-credit a {
  color: #fff;
  font-size: 0.8rem;
}

.odin-logo {
  position: absolute;
  top: 200px;
  width: 100%;
  z-index: 1;
}

.opacity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
}

.opacity::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
  z-index: -1;
}

.odin-logo img {
  width: 70px;
  height: auto;
}

.odin-logo p {
  font-family: "norsebold", sans-serif;
  font-size: 4.2rem;
  color: #fff;
}

.sign-up-form {
  width: 100%;
  max-width: 900px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.sign-up-form > * {
  grid-column: 1 / -1;
}

.description {
  background-color: #f9fafb;
  padding: 80px 32px;
}

.description p,
.description span {
  font-size: 1.125rem;
  font-weight: 500;
}

.description span {
  font-style: italic;
}

.description > p:first-child {
  margin-bottom: 16px;
}

.button {
  background-color: #f9fafb;
  padding: 24px 32px;
}

.btn {
  padding: 7px 36px;
  font-size: 0.875rem;
  color: #fff;
  background-color: #596d48;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  margin-bottom: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.form-inputs {
  background-color: #fff;
  padding: 16px 32px 32px 32px;
  z-index: 1;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-inputs > p:first-child {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 16px;
}

form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

label {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.875rem;
}

input {
  border: 1px solid #e5e7eb;
  border-radius: 4px;
  padding: 4px 10px 2px 10px;
}

input::placeholder {
  font-size: 0.875rem;
}

input:focus {
  border: 1px solid #244ed6;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
  outline: none;
}

input:invalid:placeholder-shown {
  border-color: #e5e7eb;
  box-shadow: none;
}

input:invalid:not(:placeholder-shown) {
  border-color: #bb1921;
}

input:invalid:not(:placeholder-shown):focus {
  box-shadow: 4px 4px 12px rgba(220, 53, 69, 0.1);
}

input:valid:not(:placeholder-shown):focus {
  border-color: #28a745;
  box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.1);
}

input:invalid:placeholder-shown:focus {
  border-color: #244ed6;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
  .image {
    grid-column: 1;
    grid-row: 1 / 4;
  }
  .description {
    grid-column: 2;
    grid-row: 1;
  }
  .form-inputs {
    grid-column: 2;
    grid-row: 2;
  }
  .button {
    grid-column: 2;
    grid-row: 3;
  }
}
